* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.nv__section {
  display: flex;
  justify-content: space-between;
  margin: 6% 7% 0 8%;
}

.proj__list > *,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: #3a4a42;
  list-style: none;
}

#welcome {
  padding-top: 2%;
  font-size: 1.25rem;
}

#welcome > *,
::before,
::after {
  text-decoration: none;
  list-style: none;
  color: #28352f;
}

.menu__button {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.menu__bar {
  width: 1.7rem;
  margin-top: 6%;
  height: 4px;
  position: relative;
  background: #000;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  border: 0.1mm solid white;
}

.bg__container {
  background-image: url(/img/vec-bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 99%;
  height: auto;
}

.mn__title {
  color: #172b4d;
  margin: 0 auto;
  max-width: 50vh;
  text-align: center;
  font-weight: bolder;
  line-height: 3.5rem;
  font-size: 2.7rem;
  margin-top: 17%;
}

.mn__title > span {
  color: #36b37e;
}

.abt__me__text {
  margin: 8% 9%;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

.social__icons {
  display: flex;
  justify-content: space-around;
  top: 3rem;
  margin: 0 auto;
  height: 5rem;
  align-items: center;
  width: 50%;
}

.arrow_down {
  max-width: 60%;
  margin: 15% auto;
  text-align: center;
}

.recent__works {
  color: #172b4d;
  margin: 0 auto;
  padding: 5%;
  width: 80%;
  text-align: center;
  font-weight: bolder;
  line-height: 3.5rem;
  font-size: 2rem;
}

.bar__under {
  height: 0.3rem;
  width: 3em;
  border-radius: 24px;
  background: #36b37e;
  margin: 0 auto 13%;
}

.proj__container {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 5% auto;
  width: 88%;
  text-align: center;
  background-color: #ebf0ee;
}

.proj__img {
  height: 26vh;
  width: 100%;
  margin: 0;
}

.proj__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #3a4a42;
}

.proj__list {
  background-color: #fff;
  padding: 4%;
}

.proj__lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  line-height: 1.625rem;
  flex-grow: 0;
  order: 1;
  gap: 0.8rem;
}

.bt {
  border-radius: 6px;
  background: #ebf0ee;
  padding: 7px;
  font-size: 0.85rem;
  font-weight: 600;
  font-style: normal;
}

.see__proj__btn {
  font-size: 17px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  margin-top: 8%;
  padding: 0.75em;
  border: 1px solid #fff;
}

.abt__me {
  background:
    url(img/abt_buttom.svg) no-repeat bottom left,
    url(img/abt_top.svg) no-repeat top right;
  background-size: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.abt__me__title {
  color: #172b4d;
  margin-top: 12%;
  max-width: 50vh;
  text-align: center;
  font-weight: bolder;
  line-height: 3.5rem;
  font-size: 6vw;
}

#abt__txt {
  color: #303f57;
  width: 85%;
  margin: 1rem 2rem 0.7rem;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;
}

.lang__used {
  margin-top: 10%;
}
