* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.all_container {
  display: none;
}

.desk__nav {
  display: none;
}

.nv__section {
  display: flex;
  justify-content: space-between;
  margin: 6% 7% 0 8%;
}

.proj__list > *,
:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: #172b4d;
  list-style: none;
}

#welcome {
  padding-top: 2%;
  font-size: 1.25rem;
}

#welcome > *,
::before,
::after {
  text-decoration: none;
  list-style: none;
  color: #172b4d;
}

.menu__bar {
  width: 1.7rem;
  margin-top: 6%;
  height: 4px;
  position: relative;
  background: #000;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  border: 0.1mm solid white;
}

/* Hamburger Menu code starts here */

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.hamburger2 .menu__bar:nth-child(2) {
  opacity: 0;
}

.hamburger2 .menu__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  color: #67798e;
}

.hamburger2 .menu__bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
  color: #67798e;
}

.hamburger2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.mob__nav__menu {
  top: 0;
  position: fixed;
  left: -100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2.5rem;
  background-color: #fff;
  width: 100%;
  min-height: 90%;
  padding-top: 33px;
  padding-left: 7%;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  box-shadow: 0 140px 2px 1px rgba(50, 48, 48, 0.685);
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.mob__list {
  margin-top: 70px;
  line-height: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.nv__item:hover {
  color: #11a55b;
}

.mob__nav__menu.active {
  left: 0;
}

.bg__container {
  background-image: url(./img/vec-bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.mn__title {
  color: #172b4d;
  font-weight: bolder;
  line-height: 3.5rem;
  font-size: 3.2rem;
  margin: 17% 10% 1px;
  align-self: center;
  text-align: center;
}

.mn__title > span {
  color: #36b37e;
}

.abt__me__text {
  margin: 8% 9%;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

.social__icons {
  display: flex;
  justify-content: space-around;
  top: 3rem;
  margin: 0 auto;
  height: 5rem;
  align-items: center;
  width: 50%;
}

.arrow_down {
  max-width: 60%;
  margin: 15% auto;
  text-align: center;
}

.works__section {
  display: grid;
  grid-template-columns: 100%;
}

.recent__works {
  color: #172b4d;
  margin: 0 auto;
  padding: 5%;
  width: 80%;
  text-align: center;
  font-weight: bolder;
  line-height: 3.5rem;
  font-size: 2rem;
}

.bar__under {
  height: 0.3rem;
  width: 3em;
  border-radius: 24px;
  background: #36b37e;
  margin: 0 auto 13%;
}

.proj__container {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 5% auto;
  width: 88%;
  text-align: center;
  display: grid;
}

.proj__img {
  height: 26vh;
  width: 100%;
  margin: 0;
}

.proj__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #3a4a42;
}

.proj__list {
  background-color: #fff;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj__lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  line-height: 1.625rem;
  gap: 0.8rem;
}

.bt {
  border-radius: 6px;
  background: #ebf0ee;
  padding: 7px;
  font-size: 0.85rem;
  font-weight: 600;
  font-style: normal;
}

.see__proj__btn {
  width: 42%;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  margin-top: 8%;
  padding: 0.8em 0.6em;
  border: 1px solid #fff;
}

.see__proj__btn:hover,
.see__proj__btn:focus {
  animation: animate 1s linear infinite;
  cursor: pointer;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(7, 185, 114, 0.7);
  }

  40% {
    box-shadow: 0 0 0 30px rgba(0, 206, 180, 0);
  }

  80% {
    box-shadow: 0 0 0 30px rgba(0, 206, 180, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(0, 206, 180, 0);
  }
}

.see__proj__btn:active {
  background: #008552;
}

.see__proj__btn a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

.abt__me {
  background:
    url(img/abt_buttom.svg) no-repeat bottom left,
    url(img/abt_top.svg) no-repeat top right;
  background-size: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.abt__me__title {
  color: #172b4d;
  margin-top: 12%;
  max-width: 50vh;
  text-align: center;
  font-weight: bolder;
  font-size: 6vw;
}

#abt__txt {
  color: #303f57;
  width: 85%;
  margin: 1rem 2rem 0.7rem;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;
}

.lang__sec {
  margin-top: 8%;
}

.lang__used {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 15% auto 5%;
  width: 88%;
  text-align: center;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
}

.lang__used img {
  width: 35%;
  margin-top: 10%;
  align-self: center;
  margin-bottom: 5%;
}

.lang__list {
  margin: 15% 0 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.lang__list li {
  border-radius: 6px;
  background: #fff;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #36b37e;
  padding: 12px;
  justify-content: center;
}

.lang__list a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.mob__nav__menu li a {
  color: #3a4a42;
}

.contact__form {
  background: url("/img/Frame.svg") no-repeat bottom right;
  width: 100vw;
}

.contact__title {
  color: #172b4d;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  line-height: 3.8rem;
  font-size: 170%;
  margin-top: 17%;
  width: 90%;
}

.form__collab {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.form__list {
  width: 85%;
  margin: 0 auto;
  list-style: none;
}

.form__input input {
  width: 83%;
  align-self: center;
  margin: 6% 5% 2% 8.5%;
}

.name__Full {
  display: flex;
  margin: 0 auto;
  width: 91%;
  justify-content: space-between;
}

.name {
  width: 100%;
}

#f_name {
  padding: 1rem;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 90%;
  align-self: flex-start;
}

#l_name {
  padding: 1rem;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

#mail {
  padding: 1rem;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.txt_area {
  margin: 5% auto 0;
  width: 83%;
}

#msg {
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  height: 20vh;
}

.align_center {
  margin: 1.8rem auto;
  width: 83%;
}

.collab__btn {
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  background: #36b37f;
  border: #fff;
  border-radius: 4px;
  padding: 0.7rem 0.4rem;
  margin-left: 25%;
  width: 55%;
  font-size: 1rem;
  line-height: 24px;
}

.collab__btn:active {
  background-color: #008552;
  border: white;
}

.collab__btn:hover,
.collab__btn:focus {
  animation: animate 1s linear infinite;
  cursor: pointer;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(7, 185, 114, 0.7);
  }

  40% {
    box-shadow: 0 0 0 30px rgba(0, 61, 53, 0);
  }

  80% {
    box-shadow: 0 0 0 30px rgba(1, 47, 41, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(0, 80, 69, 0);
  }
}

.social__icon {
  display: flex;
  justify-content: space-around;
  top: 3rem;
  margin: 0 auto;
  height: 5rem;
  align-items: center;
  width: 50%;
}

.my-email {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  height: 189px;
  width: 100%;
  color: #42526e;
}

/* Desktop Version Starts Here */

@media only screen and (min-width: 768px) {
  .mob_header {
    display: none;
  }

  .bg__container {
    background-image: url(./img/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mn__title {
    margin-top: 10%;
    padding: 1% 0;
    font-weight: bolder;
    height: 90%;
    font-size: 3.8em;
    line-height: 1em;
    letter-spacing: 1px;
    animation:
      typewriter 4s steps(80) 2s 1 normal both,
      blinkTextCursor 500ms infinite;
    white-space: nowrap;
    margin-right: 13%;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(169, 97%, 12%);
    }

    to {
      border-right-color: transparent;
    }
  }

  .abt__me__text {
    margin-top: 2%;
    width: 55%;
    text-align: center;
    margin-bottom: 1rem;
    animation: fadein 8s;
    -webkit-animation: fadein 8s;
    -moz-animation: fadein 8s;
    -o-animation: fadein 8s;
    -ms-animation: fadein 8s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .social__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }

  .arrow_down {
    text-align: center;
    margin-top: 2%;
  }

  .recent__works {
    color: #172b4d;
    margin: 5rem auto 0;
    padding: 5%;
    text-align: center;
    font-weight: bolder;
    line-height: 3.5rem;
    font-size: 2rem;
  }

  .bar__under {
    display: none;
  }

  .desk__nav {
    display: flex;
    width: 25%;
    justify-content: space-around;
    margin-top: 2%;
  }

  .desk__nav a {
    font-size: 1rem;
    font-weight: 600;
    color: #172b4d;
    margin-top: 1rem;
  }

  .desk__nav a:hover {
    transition-duration: 1s;
    color: #172b4d;
    border-bottom: 2px solid black;
  }

  .group {
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    display: grid;
  }

  .abt__me {
    background:
      url(img/illustration-about-me-2-desktop.svg) no-repeat bottom
      left,
      url(img/illustration\ about\ me\ desktop.svg) no-repeat top right;
    display: flex;
    flex-direction: column;
    background-size: initial;
    text-align: center;
    align-items: center;
  }

  .abt__me__title {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  #abt__txt {
    width: 55%;
  }

  .btns {
    width: 20%;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    background: #36b37f;
    border-radius: 4px;
    margin-top: 2%;
    padding: 0.8em 0.5em;
    border: 1px solid #fff;
  }

  .lang__sec {
    margin: 0 7%;
    gap: 2%;
    display: flex;
  }

  .lang__used {
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    margin: 10% auto 2%;
    width: 88%;
    text-align: center;
    background-color: #ebf0ee;
    display: flex;
  }

  .contact__form {
    background-image: none;
  }

  .desk__contact__wrap {
    background:
      url(img/Frame-bottom-1.svg) no-repeat bottom left,
      url(img/Frame_bottom_1.5.svg) no-repeat bottom,
      url(img/Frame-bottom-2.svg) no-repeat bottom right;
    background-position: 0% 98%, 20% 95%, 100% 100%;
    height: 55vmax;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }

  .contact__title {
    width: 40%;
    margin-top: 12%;
    margin-left: 7%;
  }

  .contact__title h2 {
    font-size: 100%;
    line-height: 150%;
    color: #172b4d;
  }

  .form__sec {
    width: 57%;
    margin-right: 10%;
    height: auto;
    overflow-y: hidden;
  }

  .form__collab {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
  }

  .form__list {
    width: 100%;
    align-items: center;
    list-style: none;
  }

  .name__Full {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
  }

  #f_name {
    width: 90%;
    margin-left: 3%;
  }

  #l_name {
    width: 92%;
  }

  .form__input input {
    width: 90%;
    align-self: center;
    margin: 2.5% 2% 3% 5%;
  }

  .txt_area {
    width: 90%;
    align-self: center;
    margin: 1% 5%;
  }

  .align_center {
    justify-content: left;
    margin-right: 70%;
  }

  .collab__btn {
    letter-spacing: 0.05em;
    text-align: center;
    margin-left: 0%;
    margin-top: 0;
    width: 30%;
    font-size: 1rem;
    line-height: 24px;
    padding: 0.6rem 0.3rem;
  }

  .social-contain {
    border-top: 1px solid #dfe1e6;
    width: 100%;
  }

  .my-email {
    display: none;
  }

  .desk_social {
    display: flex;
    justify-content: space-around;
    top: 3rem;
    margin: 0 42%;
    height: 5rem;
    align-items: center;
    width: 20%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .mn__title {
    font-size: 3em;
    line-height: 1.3em;
    margin-right: 15%;
  }

  .group {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    display: grid;
  }

  .contact__title {
    display: none;
  }

  .desk__contact__wrap {
    align-items: center;
    justify-content: center;
  }

  .form__list {
    overflow-y: hidden;
    margin-left: 4rem;
    width: 89%;
  }

  .collab__btn {
    margin-left: 40%;
    width: 40%;
  }

  .mid_screen {
    height: 13%;
  }

  .lang__sec {
    margin: 2% 9%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden;
  }

  .lang__used {
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    margin: 8% auto 2%;
    width: 88%;
    text-align: center;
    background-color: #ebf0ee;
    display: flex;
    justify-content: space-around;
  }

  .lang__list {
    gap: 5%;
    height: 30%;
    overflow-y: hidden;
  }

  .form__collab {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
